<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8" />

        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <title>Index</title>

        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="stylesheet" type="text/css" href="" />
    </head>

    <body>
        <header>
            {{hospital.hospitalname}}
            {{hospital.address}}
            {{hospital.city}}
            {{hospital.state}}
            {{hospital.zipcode}}
            {{hospital.telephone}}
            {{hospital.hospitalid}}
            <nav>
                <form action="/{{hospital.hospitalname}}/{{hospital.hospitalid}}/log-in-employee" method="POST">
                    <label class="credential-label">Log In:</label>

                    <input class="credential-input" type="text" name="username" placeholder="Username" autofocus required />

                    <input class="credential-input" type="password" name="password" placeholder="Password" required />

                    <input type="submit" value="Log In" />

                    {{employeeExistsFalse}}
                </form>
            </nav>
        </header>

        <main>
            <form action="/{{hospital.hospitalname}}/{{hospital.hospitalid}}/register-employee" method="POST">
                <fieldset>
                    <legend>Reqister Employee:</legend>

                    <label class="credential-label">Username:</label>
                    <input type="text" name="username" placeholder="Username" required /><br />

                    <label class="credential-label">Access Code:</label>
                    <input type="password" name="password" placeholder="Password" required /><br />

                    <label class="credential-label">First Name:</label>
                    <input type="text" name="employeefirstname" placeholder="First Name" required /><br />

                    <label class="credential-label">Last Name:</label>
                    <input type="text" name="employeelastname" placeholder="Last Name" required /><br />

                    <label class="credential-label">Street:</label>
                    <input type="text" name="address" placeholder="Address" required /><br />

                    <label class="credential-label">City:</label>
                    <input type="text" name="city" placeholder="City" required /><br />

                    <label class="credential-label">State:</label>
                    <input type="text" name="state" placeholder="State" required /><br />

                    <label class="credential-label">Zipcode:</label>
                    <input type="number" name="zipcode" min="10000" max="99999" placeholder="Zipcode" required /><br />

                    <label class="credential-label">Telephone:</label>
                    <input type="tel" name="telephone" placeholder="555-555-5555" /><br />

                    <input type="submit" value="Register" />
                    <input type="reset" />
                </fieldset>                    
            </form>

            {{employeeExistsTrue}}
        </main>

        <footer>
        </footer>
    </body>

    <script src=""></script>
</html>