<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8" />

        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <title>Index</title>

        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="stylesheet" type="text/css" href="../styles/main.css" />
        <link rel="stylesheet" media='screen and (min-width: 200px) and (max-width: 780px)' href='../style/moblie.css' />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <title>Welcome</title>
      </head>

      <body>
        <!-- <header>
            <h1>Hospital Administration</h1>

            <nav>
                <form action="/log-in-hospital" method="POST">
                    <label class="credential-label">Log In:</label>

                    <input class="credential-input" type="text" name="hospitalname" placeholder="Hospital Name" required />

                    <input class="credential-input" type="password" name="accesscode" placeholder="Access Code" autofocus required />

                    <input type="submit" value="Log In" />

                    {{hospitalExistsFalse}}
                </form>
            </nav>
        </header>

        <main>
            <form action="/register-hospital" method="POST">
                <fieldset>
                    <legend>Reqister Hospital:</legend>

                    <label class="credential-label">Hospital Name:</label>
                    <input type="text" name="hospitalname" placeholder="Hospital Name" required /><br />

                    <label class="credential-label">Access Code:</label>
                    <input type="password" name="accesscode" placeholder="Access Code" required /><br />

                    <label class="credential-label">Street:</label>
                    <input type="text" name="address" placeholder="Address" required /><br />

                    <label class="credential-label">City:</label>
                    <input type="text" name="city" placeholder="City" required /><br />

                    <label class="credential-label">State:</label>
                    <input type="text" name="state" placeholder="State" required /><br />

                    <label class="credential-label">Zipcode:</label>
                    <input type="number" name="zipcode" min="10000" max="99999" placeholder="Zipcode" required /><br />

                    <label class="credential-label">Telephone:</label>
                    <input type="tel" name="telephone" placeholder="555-555-5555" required /><br />

                    <input type="submit" value="Register" />
                    <input type="reset" />
                </fieldset>
            </form>
            <div>{{hospitalExistsTrue}}</div>
        </main>

        <footer>
        </footer> -->



    <img class="main-background"  src="../styles/color-block.jpg" alt="main image">


        <a href="#lightbox" data-lightbox="login-register-form" data-width="500px" class="lightbox" class="login-btn">Login</a>

        <a href="#lightbox" data-lightbox="login-register-form" data-width="500px" class="lightbox" class="reg-btn" data-form="register">Register</a>

        <div class="paslo_lightbox login_register_form" id="login-register-form">
          <ul class="form-switcher">
            <li class="login_list"><a href="#0" class="login">Sign in</a></li>
            <li class="register_list"><a href="#0" class="register">Register</a></li>
          </ul>

          <div class="form_wrapper login_wrapper">
            <div class="form login_form">
              <p>
                <label for="user_login">Username or E-mail</label>
                <input type="text" name="log" id="user_login" class="input" value="" size="20">
              </p>
              <p>
                <label for="user_pass">Password</label>
                <input type="password" name="pwd" id="user_pass" class="input" value="" size="20">
              </p>

              <p>
                <input type="submit" name="wp-submit" id="wp-submit" class="button-primary" value="Log In">
              </p>
            </div>
            <div class="form password_form" style="display: none;">

              <p>
                <label for="user_login">Username or E-mail</label>
                <input type="text" name="log" id="user_login" class="input" value="" size="20">
              </p>
              <p>
                <input type="submit" name="wp-submit" id="wp-submit" class="button-primary" value="Reset Password">
              </p>
            </div>

          </div>

          <div class="form_wrapper register_wrapper">
            <div class="form register_form">
              <!-- <p>
                <label for="user_login">Username</label>
                <input type="text" name="log" id="user_login" class="input" value="" size="20">
              </p>
              <p>
                <label for="user_login">E-mail</label>
                <input type="email" name="log" id="user_email" class="input" value="Email" size="20">
              </p>
              <p>
                <label for="user_pass">Password</label>
                <input type="password" name="pwd" id="user_pass" class="input" value="" size="20">
              </p>
              <p>
                <label for="user_pass">Password Again</label>
                <input type="password" name="pwd" id="user_pass2" class="input" value="" size="20">
              </p>

              <p>
                <input type="submit" name="wp-submit" id="wp-submit" class="button-primary" value="Register">
              </p> -->

              <form>


                      <label class="credential-label">Hospital Name:</label>
                      <input type="text" name="hospitalname" placeholder="Hospital Name" required /><br />

                      <label class="credential-label">Access Code:</label>
                      <input type="password" name="accesscode" placeholder="Access Code" required /><br />

                      <label class="credential-label">Street:</label>
                      <input type="text" name="address" placeholder="Address" required /><br />

                      <label class="credential-label">City:</label>
                      <input type="text" name="city" placeholder="City" required /><br />

                      <label class="credential-label">State:</label>
                      <input type="text" name="state" placeholder="State" required /><br />

                      <label class="credential-label">Zipcode:</label>
                      <input type="number" name="zipcode" min="10000" max="99999" placeholder="Zipcode" required /><br />

                      <label class="credential-label">Telephone:</label>
                      <input type="tel" name="telephone" placeholder="555-555-5555" required /><br />

                      <input type="submit" value="Register" />
                      <input type="reset" />

              </form>


            </div>

          </div>

        </div>



      <div class="container">
      <a data-scroll href="#full">
        <div class="arrow"></div>
      </a>
    </div>
    <!-- <div id="full"></div> -->
    <h2 class="care"><u>Combining quailty healthcare and technology</u></h2>


    <ul id="full">
      <li><i class="fas fa-user-md fa-6x"></i><div><u>Leading Experts</u></div></li>
      <li><i class="fas fa-heartbeat fa-6x"></i><div><u>General Treatment</u></div></li>
      <li><i class="fas fa-ambulance fa-6x"></i><div><u>Emergency Care</u></div></li>

    </ul>
      </body>
      <script src="scripts/popup.js"></script>
      <script defer src="https://use.fontawesome.com/releases/v5.5.0/js/all.js" integrity="sha384-GqVMZRt5Gn7tB9D9q7ONtcp4gtHIUEW/yG7h98J7IpE3kpi+srfFyyB/04OV6pG0" crossorigin="anonymous"></script>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>


</html>
