<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8" />

        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <title>Index</title>

        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="stylesheet" type="text/css" href="../styles/main.css" />
    </head>

    <body>
        <header>
            <h1>One-Pager + register/login</h1>

            <nav>
                <form action="/log-in" method="POST">
                    <label class="credential-label">Log In:</label>

                    <input class="credential-input" type="text" name="hospitalName" placeholder="Hospital Name" autofocus required />

                    <input class="credential-input" type="password" name="password" placeholder="Password" required />

                    <input type="submit" value="Log In" />
                </form>
            </nav>
        </header>

        <main>
            <form action="/register" method="POST">
                <fieldset>
                    <legend>Reqister Hospital:</legend>

                    <label class="credential-label">Hospital Name:</label>
                    <input type="text" name="hospitalName" placeholder="Hospital Name" required /><br />

                    <label class="credential-label">Street:</label>
                    <input type="text" name="street" placeholder="Street" required /><br />

                    <label class="credential-label">City:</label>
                    <input type="text" name="city" placeholder="City" required /><br />

                    <label class="credential-label">State:</label>
                    <input type="text" name="state" placeholder="State" required /><br />

                    <label class="credential-label">Zipcode:</label>
                    <input type="number" name="zipcode" min="10000" max="99999" placeholder="Zipcode" required />

                    <input type="submit" value="Register" />
                </fieldset>                    
            </form>
        </main>

        <footer>
        </footer>
    </body>

    <script src=""></script>
</html>