<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<body>
 

<div id="body">
    <h1>Add New Patient</h1>
    
<form id="addNewPatient" action="/" method="POST">
    <input type="text" name="admissiondate" placeholder="admission date"/>
    <input type="text" name="firstname" placeholder="first name"/>
    <input type="text" name="lastname" placeholder="last name"/>
    <input type="text" name="dob" placeholder="date of birth"/>
    <input type="radio" name="sex" placeholder="gender"/>
    <input type="text" name="ethnicity" placeholder="ethnicity"/>
    <input type="text" name="address" placeholder="address"/>
    <input type="text" name="city" placeholder="city"/>
    <input type="text" name="state" placeholder="state"/>
    <input type="text" name="zipcode" placeholder="zipcode"/>
    <input type="text" name="reasonforvisit" placeholder="reason for visit"/>
    <input type="text" name="medication" placeholder="medication"/>
    <input type="text" name="drugallergies" placeholder="drug allergies"/>
    <input type="text" name="roomnumber" placeholder="patient room number"/>
    <input type="text" name="dischargedate" placeholder="discharge date"/>
    <input type="text" name="additionalnotes" placeholder="admission date"/>
    <input type="text" name="admissiontype" placeholder="first name"/>
    <input type="text" name="ambulation" placeholder="last name"/>
    <input type="text" name="assistivedevices" placeholder="date of birth"/>
    <input type="radio" name="bloodtype" placeholder="gender"/>
    <input type="text" name="citizen" placeholder="ethnicity"/>
    <input type="text" name="communication" placeholder="address"/>
    <input type="text" name="countryofbirth" placeholder="city"/>
    <input type="text" name="diagnosis" placeholder="state"/>
    <input type="text" name="email" placeholder="zipcode"/>
    <input type="text" name="feeding" placeholder="reason for visit"/>
    <input type="text" name="hearing" placeholder="medication"/>
    <input type="text" name="medical" placeholder="drug allergies"/>
    <input type="text" name="medicationadministration" placeholder="patient room number"/>
    <input type="text" name="patientid" placeholder="discharge date"/>
    <input type="text" name="headofbedelevated" placeholder="address"/>
    <input type="text" name="hospitalid" placeholder="city"/>
    <input type="text" name="maritalstatus" placeholder="state"/>
    <input type="text" name="operations" placeholder="zipcode"/>
    <input type="text" name="oralhygiene" placeholder="reason for visit"/>
    <input type="text" name="personalhygiene" placeholder="medication"/>
    <input type="text" name="psychiatric" placeholder="drug allergies"/>
    <input type="text" name="religion" placeholder="discharge date"/>
    <input type="text" name="surgical" placeholder="reason for visit"/>
    <input type="text" name="telephone" placeholder="medication"/>
    <input type="text" name="toileting" placeholder="drug allergies"/>
    <input type="text" name="vision" placeholder="patient room number"/>

    <input id="postBtn" type="submit" value="Post"/>
</form>

</body>
</html>
