<!DOCTYPE html>

<html lang="">
    <head>
        <meta charset="utf-8">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title></title>
    </head>

    <body>
    admissiondate : {{patient.admissiondate}}
        firstname : {{patient.firstname}}
    lastname : {{patient.lastname}}
    dob : {{patient.dob}}
    sex : {{patient.sex}}
    maritalstatus : {{patient.maritalstatus}}
    countryofbirth : {{patient.countryofbirth}}
    address : {{patient.address}}
    city : {{patient.city}}
    state : {{patient.state}}
    zipcode : {{patient.zipcode}}
    telephone : {{patient.telephone}}
    email : {{patient.email}}
    religion : {{patient.religion}}
    citizen : {{patient.citizen}}
    reasonforvisit : {{patient.reasonforvisit}}
    medication : {{patient.medication}}
    drugallergies : {{patient.drugallergies}}
    roomnumber : {{patient.roomnumber}}
    dischargedate : {{patient.dischargedate}}
    surgical : {{patient.surgical}}
    medical : {{patient.medical}}
    psychiatric : {{patient.psychiatric}}
    admissiontype : {{patient.admissiontype}}
    communication : {{patient.communication}}
    vision : {{patient.vision}}
    hearing : {{patient.hearing}}
    assistivedevices : {{patient.assistivedevices}}
    toileting : {{patient.toileting}}
    medicationadministration : {{patient.medicationadministration}}
    feeding : {{patient.feeding}}
    diettexture : {{patient.diettexture}}
    ambulation : {{patient.ambulation}}
    personalhygiene : {{patient.personalhygiene}}
    oralhygiene : {{patient.oralhygiene}}
    headofbedelevated : {{patient.headofbedelevated}}
    additionalnotes : {{patient.additionalnotes}}
    diagnosis : {{patient.diagnosis}}
    operations : {{patient.operations}}
    bloodtype : {{patient.bloodtype}}
    ethnicity : {{patient.ethnicity}}







    </body>
</html>
